### Threat
## ID: {{ index .identifier.Input "@ID"}}
## NAME: {{ index .identifier.Input "@Name"}}
## Likelihood: {{.identifier.Input.Likelihood_Of_Attack}}
## Severity: {{.identifier.Input.Typical_Severity}}
## Description
{{.identifier.Input.Description}}
## Mitigations
{{.identifier.Input.Mitigations}}
## Prerequisite
{{.identifier.Input.Prerequisites}}
## Related Weaknesses
{{.identifier.Input.Related_Weaknesses}}
Provide a comprehensive list of target properties and control properties that identify this threat, briefly explain how each one applies.