# rule: unquoted-variable-expansion-in-command
Use double quotes to surround the variable "$var"
# rule: unquoted-command-substitution-in-command
Use double quotes to surround the command substitution "$(var)"