Name: 
"""
{{.info.name}}
"""
Description: 
"""
{{.info.description}}
"""
Reference: 
"""
{{.info.reference}}
"""
Severity: 
"""
{{.info.severity}}
"""
Reproduce: 
"""
{{index . "curl-command"}}
"""
Target: 
"""
{{index . "matched-at"}}
"""